:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(223, 39, 39, 0.7);
  --left-button-hover-color: rgba(161, 11, 11, 0.3);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

.new_name {
  padding: 0%;
}

html, body {
  padding:0;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translateX(-50%);
  white-space: nowrap;
}

h2 {
  font-size: 2rem;
  color: #000;
  transform: translateX(-50%);
  white-space: nowrap;
  position: fixed;
  left: 50%;
  top: 0%;
}

h3 {
  font-size: 1rem;
  color: #000;
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translateX(-50%);
  white-space: nowrap;
  position: fixed;
  left: 80%;
  top: 92%;
}
h4 {
  font-size: 1.08rem;
  color: #000;
  position: absolute;
  transform: translateX(0%);
  white-space: nowrap;
  position: fixed;
  left: 10%;
  top: 12%;
}

.event_text {
  font-family:'Times New Roman', Times, serif;
  padding: 0%;
}

.button1 {
  display: block;
  position: absolute;
  left: -200%;
  top: 10%;
  height: 2rem;
  width: 4rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  transform: translateX(-50%);
  background-color: var(--right-bg-color);
  border-color:azure;
}

.button2 {
  position: absolute;
  left: 37%;
  top: 33%;
  height: 1.5rem;
  width: 5rem;
  text-align: center;
  color: #fff;
  font-size: -1rem;
  font-weight:bold;
  transform: translateX(-50%);
  background-color: var(--right-bg-color);
  border-color:azure;
}

.button1:hover, .button2:hover {
  box-shadow: 0px 5px 5px rgba(20, 13, 13, 0.767);
}

.glass {
  background: white;
  min-height: 60vh;
  width: 40%;
  background: linear-gradient(
    to right bottom,
    rgba(135, 134, 138, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  position: fixed;
  left:80px;
  top:225px;
}

.glass.right {
  display: flex;
  line-break: auto;
  background: white;
  min-height: 60vh;
  width: 40%;
  background: linear-gradient(
    to right bottom,
    rgba(135, 134, 138, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  position: fixed;
  left:700px;
  top:225px;
}

.field {

  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  position: fixed;
  left:100px;
  top:80px;
}

.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left:0;
  background-size: cover;
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right:0;
  background-size: cover;
}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}


.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    width: 12rem;
  }
}

@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}



